<!DOCTYPE html>
 
<html lang="en">
 <head>
  {% include "base/header.html" %}
 </head>

 <body>
  {% include "base/nav-bar.html" %}
   
  <div id="body" class="container-fluid">
   <div class="row-fluid">
    {% block body %}{% endblock %}
   </div>
  </div> <!-- /container -->
  
  <div class="container-fluid">
   <footer class="footer">
    {% include "base/footer.html" %}
   </footer>
  </div> <!-- /container -->

  {% include "base/scripts.html" %}
  {% block header %}{% endblock %}
  {% block scripts %}{% endblock %}
 </body>
</html>
   
