{% load tags %}
{% load i18n %}

<div class="navbar navbar-fixed-top">
 <div class="navbar-inner">
  <div class="container-fluid">
   <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
   </a>
   <a class="brand text-info" href="/" name="top"><img height="20" width="20" src="{{ STATIC_URL }}img/logo.svg"> Numeter</a>
   <div class="nav-collapse collapse">
    <ul class="nav">
     <li class="{{ request|active_hyperlink:'index' }}"><a href="{% url 'index' %}"><i class="icon-home"></i> {% trans "Home" %}</a></li>
     <li class="divider-vertical"></li>
     <li class="{{ request|active_hyperlink:'multiviews index' }}"><a href="{% url 'multiviews index' %}"><i class="icon-signal"></i> Multi-Views</a></li>
     <li class="divider-vertical"></li>
    </ul>
    <ul class="nav pull-right">
     <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="icon-user"></i> {{ request.user }} <span class="caret"></span> </a>
      <ul class="dropdown-menu">
       <li><a id="btn-profile" class="use_modal" data-url="{% url 'profile' %}"><i class="icon-user"></i> {% trans "Profile settings" %}</a></li>
       {% if request.user.is_superuser %}
        <li class="{{ request|active_hyperlink:'configuration' }}"><a href="{% url 'configuration' %}"><i class="icon-wrench"></i> {% trans "Configuration" %}</a></li>
       {% endif %}
       <li class="divider"></li>
       <li><a href="{% url 'logout' %}"><i class="icon-share"></i> {% trans "Logout" %}</a></li>
      </ul>
     </li>
    </ul>
    </div>
   </div> <!--/.nav-collapse -->
  </div> <!--/.container-fluid -->
 </div> <!--/.navbar-inner -->
</div> <!--/.navbar -->
