{% load i18n %}
<div class="row-fluid"> <!-- group form --!>
 <form id="group-form" class="ajax-form" action="{{ Group_Form.get_update_url }}" method="POST">
  {% csrf_token %}
  <h4 align="center">{{ Group_Form.instance }}</h4>

  <div class="span5 fields" style="margin-left: 50px;">
   <dl>
    {% for field in Group_Form %}
    <dt>{{ field.label }}:</dt>
    <dd>{{ field }}</dd>
    {% endfor %}
   </dl>
  </div>

  <div class="span4">
   <div class="row-fluid">
    <p>
     {% if Group_Form.instance.id %}
      <input type="submit" name="update" class="btn btn-primary" disabled value="{% trans "Update" %}">
      <input type="button" name="delete" class="btn btn-danger" value="{% trans "Delete" %}" data-url="{{ Group_Form.get_delete_url }}">
      <input type="button" name="cancel" class="btn" data-to="#user-list" data-url="{{ Group_Form.get_list_url }}"style="display:none;" value="{% trans "Cancel" %}">
      <input type="button" name="back" class="btn" data-to="#group-list" data-url="{{ Group_Form.get_list_url }}" value="{% trans "Back" %}">
     {% else %}
      <input type="submit" name="update" class="btn btn-primary" disabled value="{% trans "Add" %}">
     {% endif %}
    </p>
   </div>
   <div class="row-fluid">
    <div class="message-container"> </div>
   </div>
  </div>


 </form>
</div>
