{% load i18n %}
<li class="active"><a id="user-list-tab" data-target="#user-list" data-url="{% url "user list" %}" data-toggle="tab">{{ Users|length }} {% trans "user(s)" %}</a></li>
<li><a id="superuser-list-tab" data-target="#superuser-list" data-url="{% url "superuser list" %}" data-toggle="tab">{{ Superusers|length }} {% trans "superuser(s)" %}</a></li>
<li><a id="group-list-tab" data-target="#group-list" data-url="{% url "group list" %}" data-toggle="tab">{{ Groups|length }} {% trans "group(s)" %}</a></li>
<li><a id="add-user-tab" data-target="#add-user" data-url="{% url "user add" %}" data-toggle="tab">{% trans "Add user" %}</a></li>
<li><a id="add-group-tab" data-target="#add-group" data-url="{% url "group add" %}" data-toggle="tab">{% trans "Add group" %}</a></li>
