{% load i18n %}
<table class="table table-condensed tabled-striped">
 <thead>
  <tr>
   <th>{% trans "Username" %}</th>
   <th>{% trans "Email" %}</th>
   <th>{% trans "Graph library" %}</th>
   <th>{% trans "Groups" %}</th>
  </tr>
 </thead>
 <tbody>
  {% for user in Users %}
  <tr>
   <td><a class="get-user" href="{{ user.get_absolute_url }}">{{ user.username }}</a></td>
   <td>{{ user.email }}</td>
   <td><a href="{{ MEDIA_URL }}{{ user.graph_lib.script_file }}">{{ user.graph_lib }}</a></td>
   <td>{{ user.groups.all }}</td>
  </tr>
  {% endfor %}
 </tbody>
</table>
