<div ng-controller="InputFilterCtrl">
    <input ng-enter="updateInstances(q)" ng-model="q" class="span12" type="text" placeholder="Filter groups by name">
</div>

<div class="span8">
 <table class="table table-condensed table-striped">
  <thead>
   <tr>
    <th></th>
    <th>Name</th>
   </tr>
  </thead>
  <tbody>
   <tr ng-repeat="group in groups.results">
    <td><input class="group-checkbox" type="checkbox" name="{{ group.id }}"></td>
    <td><a ng-click="createTab(group, 'group')">{{ group.name }}</a></td>
   </tr>
  </tbody>
 </table>
 
 <div>
  <ul class="pager">
   <li ng-class="{'disabled': groups.previous == null}" class="previous"><a ng-click="changePage(groups.previous, 'groups')">&larr; Previous</a></li>
   <li ng-class="{'disabled': groups.next == null}" class="next"><a ng-click="changePage(groups.next, 'groups')">&rarr; Next</a></li>
  </ul>
 </div>
</div>

<div class="span3">
 <h5>Action</h5>
 <div ng-controller="ListActionCtrl" class="input-append">
  <select ng-model="selected_list_action" ng-options="action.name for action in list_actions"></select>
  <button class="btn" type="button" ng-click="launch_action()">Apply</button>
 </div>
</div>
