<div ng-controller="InputFilterCtrl">
 <input ng-enter="updateInstances(q)" ng-model="q" class="span12" type="text" placeholder="Filter host by name, ID or group's name">
</div>

<div class="span8">
 <table class="table table-condensed table-striped">
  <thead>
   <tr>
    <th></th>
    <th>Name</th>
    <th>ID</th>
    <th>Storage</th>
    <th>Group</th>
   </tr>
  </thead>
  <tbody>
   <tr ng-repeat="host in hosts.results">
    <td><input class="host-checkbox" type="checkbox" name="{{ host.id }}"></td>
    <td><a ng-click="createTab(host, 'host')">{{ host.name }}</a></td>
    <td>{{ host.hostid }}</td>
    <td><a ng-click="createTab(storage, 'storage')">{{ host.storage }}</a></td>
    <td><a ng-click="createTab(group, 'group')">{{ host.group }}</a></td>
   </tr>
  </tbody>
 </table>
 
 <div>
  <ul class="pager">
   <li ng-class="{'disabled': hosts.previous == null}" class="previous"><a ng-click="changePage(hosts.previous, 'hosts')">&larr; Previous</a></li>
   <li ng-class="{'disabled': hosts.next == null}" class="next"><a ng-click="changePage(hosts.previous, 'hosts')">&rarr; Next</a></li>
  </ul>
 </div>
</div>

<div class="span3">
 <h5>Action</h5>
 <div ng-controller="ListActionCtrl" class="input-append">
  <select ng-model="selected_list_action" ng-options="action.name for action in list_actions"></select>
  <button class="btn" type="button" ng-click="launch_action()">Apply</button>
 </div>
</div>
