<div ng-controller="InputFilterCtrl">
 <input ng-enter="updateInstances(q)" ng-model="q" class="span12" type="text" placeholder="Filter multiviews by name or views' name">
</div>

<div class="span8">
 <table class="table table-condensed table-striped">
  <thead>
   <tr>
    <th></th>
    <th>Name</th>
    <th>Views</th>
    <th>Users</th>
    <th>Groups</th>
   </tr>
  </thead>
  <tbody>
   <tr ng-repeat="multiview in multiviews.results">
    <td><input class="multiview-checkbox" type="checkbox" name="{{ multiview.id }}"></td>
    <td><a ng-click="createTab(multiview, 'multiview')">{{ multiview.name }}</a></td>
    <td><a ng-repeat="view in multiview.sources">{{ view.name }}</a></td>
    <td><a ng-repeat="user in multiview.users">{{ user.username }}</a></td>
    <td><a ng-repeat="group in multiview.groups">{{ group.name }}</a></td>
   </tr>
  </tbody>
 </table>
 
 <div>
  <ul class="pager">
   <li ng-class="{'disabled': multiviews.previous == null}" class="previous"><a ng-click="changePage(multiviews.previous, 'multiviews')">&larr; Previous</a></li>
   <li ng-class="{'disabled': multiviews.next == null}" class="next"><a ng-click="changePage(multiviews.next, 'multiviews')">&rarr; Next</a></li>
  </ul>
 </div>
</div>

<div class="span3">
 <h5>Action</h5>
 <div ng-controller="ListActionCtrl" class="input-append">
  <select ng-model="selected_list_action" ng-options="action.name for action in list_actions"></select>
  <button class="btn" type="button" ng-click="launch_action()">Apply</button>
 </div>
</div>
