*.py[co]
*.deb
*.log
*.sw[po]
*,cover
.coverage
.venv/
docs/_build
web-app/src/numeter/media/graphlib/*
.tox
common/build/
poller/build/
storage/build/
common/dist/
poller/dist/
storage/dist/
*.egg-info
nosetests.xml
