{% extends "base/base.html" %}
{% load i18n %}

{% block header %}
{% endblock %}

{% block body %}
<div class="tabbable tabs-left">
 <ul class="nav nav-tabs ajax-tabs">
  <li class="active"><a href="#profile-content" data-toggle="tab">{% trans "Profile" %}</a></li>
  <li><a href="#skin-content" data-toggle="tab">{% trans "Skin" %}</a></li>
  {% if request.user.is_superuser %}
   <li><a href="#users-content" data-toggle="tab">{% trans "Users" %}</a></li>
   <li><a href="#groups-content" data-toggle="tab">{% trans "Groups" %}</a></li>
   <li><a href="#storage-content" data-toggle="tab">{% trans "Storage" %}</a></li>
  {% endif %}
 </ul>

 <div class="tab-content">

  <div class="tab-pane active in" id="profile-content">
   {% include "configuration/profile.html" %}
  </div>

  <div class="tab-pane fade" id="skin-content">
  </div>

  {% if request.user.is_superuser %}
   <div class="tab-pane fade" id="users-content">
    {% include "configuration/users/index.html" %}
   </div>

   <div class="tab-pane fade" id="groups-content">
   </div>

   <div class="tab-pane fade" id="storage-content">
   </div>
  {% endif %}
 </div>
{% endblock %}
