{% extends "base/base.html" %}
{% load i18n %}

{% block header %}
<script src="{{ STATIC_URL }}js/conf.js"></script>
{% endblock %}

{% block body %}
<div class="tabbable tabs-left">
 <ul class="nav nav-tabs ajax-tabs">
  <li class="active"><a href="#profile-index" menu="profile" data-toggle="tab">{% trans "Profile" %}</a></li>
  {% if request.user.is_superuser %}
   <li><a href="#user-index" menu="user" data-toggle="tab">{% trans "Users" %}</a></li>
   <li><a href="#storage-index" data-toggle="tab" menu="storage">{% trans "Storage" %}</a></li>
  {% endif %}
 </ul>

 <div class="tab-content">

  <div class="tab-pane active in" id="profile-index">
   {% include "configuration/profile.html" %}
  </div>

  {% if request.user.is_superuser %}
   <div class="tab-pane fade" id="user-index"></div>
   <div class="tab-pane fade" id="groups-index"></div>
   <div class="tab-pane fade" id="storage-index"></div>
  {% endif %}
 </div>
{% endblock %}
