.zoom_button, .Daily_button, .Weekly_button, .Monthly_button, .Yearly_button {
    position: relative;
    display: solid;
    z-index: 1;
    color: #cccccc;
    background: #535353;
    border: none;
}
.zoom_button {
    display: none;
    bottom: 347px;
    left: 410px;
}
.Daily_button {
    bottom: 347px;
    left: 260px;
}
.Weekly_button {
    bottom: 347px;
    left: 265px;
}
.Monthly_button {
    bottom: 347px;
    left: 270px;
}
.Yearly_button {
    bottom: 347px;
    left: 275px;
}


/* Group mod css */
/* Align */

.left {float: left;}
.right {float: right;}

.clear, .clearer {clear: both;}
.clearer {
        display: block;
        font-size: 0;
        height: 0;
        line-height: 0;
}

/* Columns */
.column {
    margin-left: 2%;
    width: 20%;
    border: 1px dashed #cccccc;
}
.column.first {margin-left: 0;}

.column_users{
    border: 0px;
}
.column_hosts{
    border: 0px;
    border-left: 1px solid #cccccc;
}

/* Sortable items */
.sortable-list {
    background-color: #FFF;
    list-style: none;
    margin: 0;
    min-height: 60px;
    padding: 10px;
}
.sortable-selected-hosts {
    background-color: #F4F4F4;
}
.sortable-selected-users {
    background-color: #F4F4F4;
}

.sortable-item {
    cursor: move;
    text-align: center;
    font-weight: normal;
    margin-bottom: 5px;
    border: 1px solid #cccccc;
    background: #ffffff;
    color: #777777;
}

.sortable-item-selected {
    color: #1c94c4;
}

