<div ng-controller="configurationTabCtrl">
 <div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
   <li ng-repeat="tab in tabs" ng-class="{'active': tab.active == true}">
    <a href="" ng-click="showTab(tab)">
    <div>
     <button ng-class="{'hidden': tab.static == true}" ng-click="closeTab(tab)" type="button" class="close">×</button>
     {{tab.title}}
    </div>
    </a>
   </li>
  </ul> 

  <div class="tab-content">
      <div class="tab-pane" ng-repeat="tab in tabs" ng-class="{'active': tab.active == true}">
         <div mytab> </div>
      </div>
  </div>
  
 </div>
</div>
