    <div accordion>
      <div accordion-group ng-repeat="host in hosts">
        <div accordion-heading>
          <div ng-click="loadCategories(hosts)">
            {{host.name}}
          </div>
        </div>
        
        <div accordion>
          <div accordion-group ng-repeat="category in host.categories" is-open="category.open">
            <div accordion-heading>
                <div ng-click="loadPlugins(host, category)">
                {{category.name}}
              </div>
            </div>

            <ul>
              <li ng-repeat="plugin in category.plugins" ng-click="displayGraph(host.id, [plugin])">
               {{plugin.title}}
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
