<div ng-controller="InputFilterCtrl">
 <input ng-enter="updateInstances(q)" ng-model="q" class="span12" type="text" placeholder="Filter superusers by name, email or group">
</div>

<div class="span8">
 <table class="table table-condensed table-striped">
  <thead>
   <tr>
    <th></th>
    <th>Username</th>
    <th>Email</th>
    <th>Graph library</th>
    <th>Groups</th>
   </tr>
  </thead>
  <tbody>
   <tr ng-repeat="user in superusers.results">
    <td><input class="superuser-checkbox" type="checkbox" name="{{ user.id }}"></td>
    <td><a ng-click="createTab(user, 'user')">{{ user.username }}</a></td>
    <td>{{ user.email }}</td>
    <td>{{ user.graph_lib }}</td>
    <td>
     <a ng-repeat="group_id in user.groups" ng-click="createTab(group_id, 'group')">{{ groups.results[group_id].name }}</a>
    </td>
   </tr>
  </tbody>
 </table>
 
 <div>
  <ul class="pager">
   <li ng-class="{'disabled': superusers.previous == null}" class="previous"><a ng-click="changePage(superusers.previous, 'superusers')">&larr; Previous</a></li>
   <li ng-class="{'disabled': superusers.next == null}" class="next"><a ng-click="changePage(superusers.previous, 'superusers')">&rarr; Next</a></li>
  </ul>
 </div>
</div>

<div class="span3">
 <h5>Action</h5>
 <div ng-controller="ListActionCtrl" class="input-append">
  <select ng-model="selected_list_action" ng-options="action.name for action in list_actions"></select>
  <button class="btn" type="button" ng-click="launch_action()">Apply</button>
 </div>
</div>
