<div ng-controller="InputFilterCtrl">
    <input ng-enter="updateInstances(q)" ng-model="q" class="span12" type="text" placeholder="Filter users by name, email or group">
</div>

<div class="span8">
 <table class="table table-condensed table-striped">
  <thead>
   <tr>
    <th></th>
    <th>Username</th>
    <th>Email</th>
    <th>Graph library</th>
    <th>Groups</th>
   </tr>
  </thead>
  <tbody>
   <tr ng-repeat="user in users.results">
    <td><input class="user-checkbox" type="checkbox" name="{{ user.id }}"></td>
    <td><a ng-click="createTab(user, 'user')">{{ user.username }}</a></td>
    <td>{{ user.email }}</td>
    <td>{{ user.graph_lib }}</td>
    <td>
     <a ng-repeat="group_id in user.groups">{{ groups.results[group_id].name }} </a>
    </td>
   </tr>
  </tbody>
 </table>
 
 <div>
  <ul class="pager">
   <li ng-class="{'disabled': users.previous == null}" class="previous"><a>&larr; Previous</a></li>
   <li ng-class="{'disabled': users.next == null}" class="next"><a>&rarr; Next</a></li>
  </ul>
 </div>
</div>

<div class="span3">
 <h5>Action</h5>
 <div class="input-append">
  <select id="users-action">
   <option data-url="" value="delete">Delete</option>
  </select>
  <button class="btn bulk-action" type="button" data-action-element="#users-action" data-checkboxes=".user-checkbox">Apply</button>
 </div>
</div>
