<div class="row-fluid">
 <form userform ng-submit="submitForm()">
  
  <div class="span5 fields" style="margin-left: 50px;">
   <h4 align="center">{{ user.username }}</h4>

   <div id="username-group" class="form-group" ng-class="{ 'has-error' : errorUsername }">
    <label>Username</label>
    <input type="text" name="username" class="form-control" placeholder="Username" ng-model="formData.username">
    <span class="help-block" ng-show="errorUsername">{{ errorUsername }}</span>
   </div>
   <div id="email-group" class="form-group" ng-class="{ 'has-error' : errorEmail }">
    <label>Email</label>
    <input type="text" name="email" class="form-control" placeholder="Email" ng-model="formData.email">
    <span class="help-block" ng-show="errorEmail">{{ errorEmail }}</span>
   </div>

  </div>

 </form>
</div>
