{% load i18n %}
 <form ng-controller="MyFormCtrl" ng-submit="submit()">
 {% csrf_token %}
 <fieldset>
  <div class="span6">

   <div class="control-group condensed">
    <label for="id_name" class="control-label">{{ Multiview_Form.name.label }}</label>
    <div class="controls">{{ Multiview_Form.name }}</div>
   </div> 

   <div class="control-group condensed">
    <label for="id_sources" class="control-label">{{ Multiview_Form.views.label }}</label>
    <div class="controls">
     <div class="row-fluid">
      <div class="span5">
       {{ Multiview_Form.search_view }}
       {{ Multiview_Form.available_views }}
      </div>
      <div class="span2" style="text-align: center;">
       <button class="btn btn-mini move-option" data-from="#id_available_views" data-to=".span5 #id_views"><i class="icon-chevron-right"></i></button>
       <br>
       <br>
       <button class="btn btn-mini move-option" data-from=".span5 #id_views" data-to="#id_available_views"><i class="icon-chevron-left"></i></button>
      </div>
      <div class="span5">{{ Multiview_Form.views }}</div>
     </div>
    </div>
   </div> 

   <div class="control-group condensed">
    <div class="controls">{{ Multiview_Form.comment }}</div>
   </div> 
  </div> 

  <div class="span6">
   {% if Multiview_Form.instance.id %}
    <input type="submit" class="btn btn-primary" value="{% trans "Update" %}">
    <input ng-click="delete_instance()" type="button" class="btn btn-danger" value="{% trans "Delete" %}">
   {% else %}
    <input type="submit" class="btn btn-primary" value="{% trans "Add" %}">
   {% endif %}
  </div> 
 
 </fieldset>
</form>
