{% load i18n %}
 <form ng-controller="MyFormCtrl" ng-submit="submit()">
 {% csrf_token %}
 <fieldset>
  <div class="span6">

   <div class="control-group condensed">
    <label for="id_name" class="control-label">{{ Multiview_Form.name.label }}</label>
    <div class="controls">{{ Multiview_Form.name }}</div>
   </div> 

   <div class="control-group condensed">
    <label for="id_views" class="control-label">{{ Multiview_Form.views.label }}</label>
    <div class="controls">{{ Multiview_Form.views }}</div>
   </div> 

   <div class="control-group condensed">
    <label for="id_comment" class="control-label">{{ Multiview_Form.comment.label }}</label>
    <div class="controls">{{ Multiview_Form.comment }}</div>
   </div> 
  </div> 

  <div class="span6">
   {% if Multiview_Form.instance.id %}
    <input type="submit" class="btn btn-primary" value="{% trans "Update" %}">
    <input ng-click="delete_instance()" type="button" class="btn btn-danger" value="{% trans "Delete" %}">
   {% else %}
    <input type="submit" class="btn btn-primary" value="{% trans "Add" %}">
   {% endif %}
  </div> 
 
 </fieldset>
</form>
