{% load i18n %}
 <form ng-controller="MyFormCtrl" ng-submit="submit()">
 {% csrf_token %}
 <fieldset>
  <div class="span6">

   <div class="control-group condensed">
    <label for="id_name" class="control-label">{{ Skeleton_Form.name.label }}</label>
    <div class="controls">{{ Skeleton_Form.name }}</div>
   </div> 

   <div class="control-group condensed">
    <label class="control-label">{{ Skeleton_Form.plugin_pattern.label }}</label>
    <div class="controls">{{ Skeleton_Form.plugin_pattern }}{{ Skeleton_Form.source_pattern }} </div>
   </div> 

   <div class="control-group condensed">
    <div class="controls">{{ Skeleton_Form.comment }}</div>
   </div> 
  </div> 

  <div class="span6">
   {% if Skeleton_Form.instance.id %}
    <input type="submit" class="btn btn-primary" value="{% trans "Update" %}">
    <button id="btn-use-skeleton" class="btn btn-primary" data-url="{{ Skeleton_Form.instance.get_use_url }}">{% trans "Create a View" %}</button>
    <input ng-click="delete_instance()" type="button" class="btn btn-danger" value="{% trans "Delete" %}">
   {% else %}
    <input type="submit" class="btn btn-primary" value="{% trans "Add" %}">
   {% endif %}
  </div> 
 
 </fieldset>
</form>
