{% load i18n %}
<form class="use-skeleton-form" action="{{ Skeleton_To_View_Form.skeleton.get_use_url }}" method="POST">
 {% csrf_token %}
 <fieldset>
  <div class="span6">
   <div class="control-group condensed">
    <label for="id_name" class="control-label">{{ Skeleton_To_View_Form.name.label }}</label>
    <div class="controls">{{ Skeleton_To_View_Form.name }}</div>
   </div> 

   <div class="control-group condensed">
    <label for="id_hosts" class="control-label">{{ Skeleton_To_View_Form.hosts.label }}</label>
    <div class="controls">
     <div class="row-fluid">
      <div class="span5">
       {{ Skeleton_To_View_Form.search_host }}
       {{ Skeleton_To_View_Form.available_hosts }}
      </div>
      <div class="span2" style="text-align: center;">
       <button class="btn btn-mini move-option" data-from="#id_available_hosts" data-to=".span5 #id_hosts"><i class="icon-chevron-right"></i></button>
       <br>
       <br>
       <button class="btn btn-mini move-option" data-from=".span5 #id_hosts" data-to="#id_available_hosts"><i class="icon-chevron-left"></i></button>
      </div>
      <div class="span5">{{ Skeleton_To_View_Form.hosts }}</div>
     </div>
    </div>
   </div> 

   <div class="control-group condensed">
    <div class="controls">{{ Skeleton_To_View_Form.comment }}</div>
   </div> 
  </div> 
 </fieldset>
</form>

