{% load i18n %}
<form ng-controller="MyFormCtrl" ng-submit="submit()">
 {% csrf_token %}

 <fieldset>
  <div class="span6">
   <div class="control-group condensed">
    <label for="id_name" class="control-label">{{ View_Form.name.label }}</label>
    <div class="controls">{{ View_Form.name }}</div>
   </div> 

   <div class="control-group condensed">
    <label for="id_sources" class="control-label">{{ View_Form.sources.label }}</label>
    <div class="controls">{{ View_Form.sources }}</div>
   </div> 

   <div class="control-group condensed">
    <label for="id_threshold" class="control-label">{% trans 'Threshold' %}</label>
    <div class="controls">
     <div class="row-fluid">
      <div class="span6">{{ View_Form.warning }}</div>
      <div class="span6">{{ View_Form.critical }}</div>
     </div>
    </div>
   </div> 

   <div class="control-group condensed">
    <div class="controls">{{ View_Form.comment }}</div>
   </div> 
  </div> 

  <div class="span6">
  {% if View_Form.instance.id %}
   <input type="submit" class="btn btn-primary" value="{% trans "Update" %}">
   <input ng-click="delete_instance()" type="button" class="btn btn-danger" value="{% trans "Delete" %}">
  {% else %}
   <input type="submit" class="btn btn-primary" value="{% trans "Add" %}">
  {% endif %}

  {% if View_Form.instance.id %}
  <hr>
  <div id="view-preview" class="span11 graph"></div>
  {% endif %}
  </div> 
 </fieldset>
</form>

