Source: numeter
Section: net
Priority: optional
Maintainer: Gaël Lambert <gael.lambert@enovance.com>
DM-Upload-Allowed: yes
Build-Depends: debhelper, python, quilt
X-Python-Version: >=2.5, <=2.7
Standards-Version: 3.9.3
Homepage: https://github.com/numeter

Package: numeter-collector
Architecture: all
Homepage: https://github.com/numeter/collector
Depends: ${misc:Depends}, ${python:Depends}, numeter-common, python, redis-server (>= 2:2.4.14)
XB-Python-Version: ${python:Versions}
Description: restricts a user's shell environment to limited sets of commands
 numeter is a shell coded in Python that lets you restrict a user's environment
 to limited sets of commands, choose to enable/disable any command over SSH 
 (e.g. SCP, SFTP, rsync, etc.), log user's commands, implement timing 
 restrictions, and more.

Package: numeter-poller
Architecture: all
Homepage: https://github.com/numeter/poller
Depends: ${misc:Depends}, ${python:Depends}, numeter-common, python, munin-node, redis-server (>= 2:2.4.14)
XB-Python-Version: ${python:Versions}
Description: restricts a user's shell environment to limited sets of commands
 numeter is a shell coded in Python that lets you restrict a user's environment
 to limited sets of commands, choose to enable/disable any command over SSH 
 (e.g. SCP, SFTP, rsync, etc.), log user's commands, implement timing 
 restrictions, and more.

Package: numeter-storage
Architecture: all
Homepage: https://github.com/numeter/storage
Depends: ${misc:Depends}, ${python:Depends}, numeter-common, python, python-rrdtool, uwsgi, nginx, python-flask, uwsgi-plugin-python, redis-server (>= 2:2.4.14)
XB-Python-Version: ${python:Versions}
Description: restricts a user's shell environment to limited sets of commands
 numeter is a shell coded in Python that lets you restrict a user's environment
 to limited sets of commands, choose to enable/disable any command over SSH 
 (e.g. SCP, SFTP, rsync, etc.), log user's commands, implement timing 
 restrictions, and more.

Package: numeter-common
Architecture: all
Homepage: https://github.com/numeter
Depends: ${misc:Depends}, ${python:Depends}, python, python-daemon, python-redis (>= 2.4.9)
XB-Python-Version: ${python:Versions}
Description: restricts a user's shell environment to limited sets of commands
 numeter is a shell coded in Python that lets you restrict a user's environment
 to limited sets of commands, choose to enable/disable any command over SSH 
 (e.g. SCP, SFTP, rsync, etc.), log user's commands, implement timing 
 restrictions, and more.

Package: numeter-web-app
Architecture: all
Homepage: https://github.com/numeter
Depends: ${misc:Depends}, mysql-server, php5-fpm | libapache2-mod-php5, php5-mysql
Recommends: apache2 | lighttpd | httpd
XB-Python-Version: ${python:Versions}
Description: restricts a user's shell environment to limited sets of commands
 numeter is a shell coded in Python that lets you restrict a user's environment
 to limited sets of commands, choose to enable/disable any command over SSH 
 (e.g. SCP, SFTP, rsync, etc.), log user's commands, implement timing 
 restrictions, and more.

Package: munin-plugins-numeter
Architecture: all
Homepage: https://github.com/numeter
Depends: ${misc:Depends}, ${python:Depends}, python, munin-node
XB-Python-Version: ${python:Versions}
Description: restricts a user's shell environment to limited sets of commands
 numeter is a shell coded in Python that lets you restrict a user's environment
