Source: numeter
Section: net
Priority: optional
Maintainer: Gaël Lambert <gael.lambert@enovance.com>
DM-Upload-Allowed: yes
Build-Depends: debhelper, python, quilt, python-setuptools
X-Python-Version: >=2.5, <=2.7
Standards-Version: 3.9.3
Homepage: https://github.com/enovance/numeter

Package: numeter-poller
Architecture: all
Homepage: https://github.com/enovance/numeter
Depends: ${misc:Depends}, ${python:Depends}, numeter-common, python, munin-node
XB-Python-Version: ${python:Versions}
Description: Numeter is a new and dynamic graphing solution.
 Poller is an agent installed on the servers for which graphs are desired.
 It gathers data and keeps it to allow asynchronous collection.

Package: numeter-common
Architecture: all
Homepage: https://github.com/enovance/numeter
Depends: ${misc:Depends}, ${python:Depends}, python, python-daemon, python-kombu, python-oslo.messaging
XB-Python-Version: ${python:Versions}
Description: Numeter is a new and dynamic graphing solution.
 Common tools for numeter components.

Package: munin-plugins-numeter
Architecture: all
Homepage: https://github.com/enovance/numeter
Depends: ${misc:Depends}, ${python:Depends}, python, munin-node
XB-Python-Version: ${python:Versions}
Description: Munin plugins for Numeter.
