#!/usr/bin/make -f
# -*- makefile -*-

export DH_ALWAYS_EXCLUDE=COPYING:CHANGES

%:
	dh $@ --with quilt
	#dh $@ --with python2

override_dh_auto_install:
	# common
	cd common && python setup.py install --root=../debian/numeter-common --install-layout=deb
	rm -rf build
	# poller
	cd poller && python setup.py install --root=../debian/numeter-poller --install-layout=deb
	rm -rf build
	# storage
	cd storage && python setup.py install --root=../debian/numeter-storage --install-layout=deb
	rm -rf build
	# webapp
	cd web-app && python setup.py install --root=../debian/numeter-webapp --install-layout=deb
	rm -rf build
	# munin
	$(MAKE) -f munin-plugins/Makefile install DESTDIR=$(CURDIR)/debian/munin-plugins-numeter

#override_dh_installchangelogs:
#	dh_installchangelogs CHANGES
override_dh_auto_build:

override_dh_installinit:
	dh_installinit --onlyscripts
