<div class="tabbable tabs-left">
 <ul id="view-tabs" class="nav nav-tabs nav-stacked sub-menu-tabs">
  {% include "views/tabs.html" %}
 </ul>

 <div id="view-tab-content" class="tab-content">

  <div class="tab-pane fade in active" id="view-list">
   {% include "views/view-list.html" %}
  </div>
  <div class="tab-pane fade" id="multiview-list"></div>
  <div class="tab-pane fade" id="skeleton-list"></div>
  <div class="tab-pane fade" id="event-list"></div>
  <div class="tab-pane fade row-fluid" id="add-view"></div>
  <div class="tab-pane fade row-fluid" id="add-multiview"></div>
  <div class="tab-pane fade row-fluid" id="add-skeleton"></div>
  <div class="tab-pane fade" id="add-event"></div>

 </div>
</div> 
