body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.editor {
  font-family:Menlo,Monaco,Consolas,"Courier New",monospace
}

.hosttree-host-li, .hosttree-category-li, hosttree-plugin-li {
  margin-left: 10px;
}
