{% extends "base/base.html" %}
{% load i18n %}

{% block header %}
<script>var csrf = "{{ csrf_token }}";</script>
<script src="{{ STATIC_URL }}js/angular/multi.js"></script>


{% endblock %}

{% block body %}
<div ng-controller="viewCtrl">
 <div class="navbar navbar-static">
  <div class="navbar-inner">
   <div style="width: auto;" class="container">

{% verbatim %}
      <ul id="resolution-pills" class="nav nav-pills" ng-controller="resolutionCtrl">
        <li ng-click="select('Daily')"   ng-class="{active: selected == 'Daily'}">
          <a href="#">Daily</a>
        </li>
        <li ng-click="select('Weekly')"  ng-class="{active: selected == 'Weekly'}">
          <a href="#">Weekly</a>
        </li>
        <li ng-click="select('Monthly')" ng-class="{active: selected == 'Monthly'}">
          <a href="#">Monthly</a>
        </li>
        <li ng-click="select('Yearly')"  ng-class="{active: selected == 'Yearly'}">
          <a href="#">Yearly</a>
        </li>
{% endverbatim %}

     <li class="divider-vertical"></li>

     <div ng-controller="InputFilterCtrl" class="navbar-search">
      <input ng-enter="updateInstances(q)" ng-model="q" type="text" placeholder="{% trans "Search a multiview or a view" %}" class="search-query span2" style="width: 400px">
     </div>

    </ul>
    <ul class="nav pull-right">
     <li class="divider-vertical"></li>
     <li>
     <a id="toggle-editor" data-url="{% url "multiviews customize index" %}"> <i class="icon-cog"></i> {% trans "Customize" %}</a>
      </li>
    </ul>
   </div>
  </div>
 </div>

 <div class="row-fluid">
  <div id="multiview-index" class="span12 well" style="display: none;"></div>
 </div>

 <div data-resolution="multiviews.resolution" multiviews></div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{{ STATIC_URL }}js/multi.js"></script>
{% endblock %}
