{% load i18n %}
<input class="span12 q" type="text" name="q" value="{{ q }}" placeholder="{% trans "Search by plugin's name or multiview's name" %}" href="#multiview-list" data-url="{% url 'multiview list' %}?page=1&q={{ q }}">

<div class="span8">
 <table class="table table-condensed table-striped">
  <thead>
   <tr>
    <th></th>
    <th>{% trans "Name" %}</th>
    <th>{% trans "View" %}</th>
   </tr>
  </thead>
  <tbody>
   {% for multiview in Multiviews %}
   <tr>
    <td><input class="multiview-checkbox" type="checkbox" name="{{ multiview.id }}"></td>
    <td><a class="get-multiview" data-url="{{ multiview.get_absolute_url }}" data-into="#multiview-list">{{ multiview.name }}</a></td>
    <td>
     {% for view in multiview.views.all %}
     <a class="preview-view get-view" data-url="{{ view.get_absolute_url }}" data-into="#multiview-list" data-original-title="{% blocktrans %}Preview of {{ view }}{% endblocktrans %}" data-data-url="{% url "view data" view.id %}">{{ view.name }}</a>
     {% endfor %}
    </td>
   </tr>
   {% endfor %}
  </tbody>
 </table>
</div>

<div class="span3">
 <h5>{% trans "Action:" %}</h5>
 <div class="input-append">
  <select id="multiviews-action">
   <option data-url="{% url "multiview bulk delete" %}" value="delete">{% trans "Delete" %}</option>
  </select>
  <button class="btn bulk-action" type="button" data-action-element="#multiviews-action" data-checkboxes=".multiview-checkbox">{% trans "Apply" %}</button>
 </div>
</div>
