{% load i18n %}
{% for multiview in multiviews %}
<li class="dropdown-submenu">
 <a class="get-multiview" href="#" data-id="{{ multiview.id }}" data-url="{{ multiview.get_data_url }}">{{ multiview }}</a>
 <ul class="dropdown-menu view-list">
  {% for view in multiview.views.all %}
   <li><a class="get-view" href="#" data-id="{{ view.id }}" data-url="{{ view.get_data_url }}">{{ view }}</a></li>
  {% endfor %}
  <li class="btn-add-multiview input-li" style="display: none;">
   <a>
    <div class="input-append">
     <input id="view-name" type="text" placeholder="{% trans "Write new view name" %}"></input>
     <button id="btn-add-view" data-url="{% url "multiviews customize view add" %}" class="btn btn-primary" type="button">{% trans "Add" %}</button>
    </div>
   </a>
  </li>
 </ul>
</li>
{% endfor %}
<li class="btn-add-multiview input-li" style="display: none;">
 <a>
  <div class="input-append">
   <input name="multiview-name" type="text" placeholder="{% trans "Write new multiview name" %}"></input>
   <button class="btn btn-primary" type="button">{% trans "Add" %}</button>
  </div>
 </a>
</li>

