{% extends "base/base.html" %}
{% load i18n %}

{% block header %}
<script>var csrf = "{{ csrf_token }}";</script>
<script src="{{ STATIC_URL }}js/multi.js"></script>
{% endblock %}

{% block body %}
 <div class="navbar navbar-static">
  <div class="navbar-inner">
   <div style="width: auto;" class="container">
    <ul id="resolution-pills" class="nav nav-pills nav">
     <li data-value="Daily" class="active"><a href="#">{% trans "Daily" %}</a></li>
     <li data-value="Weekly"><a href="#">{% trans "Weekly" %}</a></li>
     <li data-value="Monthly"><a href="#">{% trans "Monthly" %}</a></li>
     <li data-value="Yearly"><a href="#">{% trans "Yearly" %}</a></li>
     <li class="divider-vertical"></li>
     <form action="" class="navbar-search">
      <input type="text" placeholder="{% trans "Search a multiview or a view" %}" class="search-query span2" style="width: 400px">
     </form>
    </ul>
    <ul class="nav pull-right">
     <li class="divider-vertical"></li>
     <li>
     <a id="toggle-editor" href="#" data-url="{% url "multiviews customize index" %}"> <i class="icon-cog"></i> {% trans "Customize" %}</a>
      </li>
    </ul>
   </div>
  </div>
 </div>

 <div class="row-fluid">
  <div id="multiview-index" class="span12 well" style="display: none;"></div>
 </div>

 <div id="accordion" class="accordion">
  <div class="accordion-group">
   {% for multiview in multiviews %}
    <div class="accordion-heading">
     <a href="#multiview-{{ multiview.id }}" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">{{ multiview }}</a>
    </div>
    <div class="accordion-body collapse" data-id="{{ multiview.id }}" id="multiview-{{ multiview.id }}">  
     <div class="accordion-inner">
      {% for view in multiview.views.all %}
       <div class="graph span6" data-id="{{ view.id }}" id="view-{{ view.id }}"></div>
      {% endfor %}
     </div>
    </div>
   {% endfor %}
  </div>
 </div>

 <div class="messages"></div>
{% endblock %}
