{% load i18n %}
<form class="multiview-form" action="{{ Multiview_Form.instance.get_update_url }}" method="POST" data-id="{{ Multiview_Form.instance.id }}">
 {% csrf_token %}
 <fieldset>
  {% for field in Multiview_Form %}
   {{ field }}
  {% endfor %}

  {% if Multiview_Form.instance.id %}
   <input class="btn btn-primary" type="submit" value="{% trans "Update" %}">
   <button id="btn-delete-multiview" class="btn btn-danger" data-into=".messages" data-id="{{ Multiview_Form.instance.id }}" data-url="{{ Multiview_Form.instance.get_delete_url }}">{% trans "Delete" %}</button>
  {% else %}
   <input class="btn btn-primary" type="submit" value="{% trans "Add" %}">
  {% endif %}

 </fieldset>
</form>
