{% load i18n %}
<div class="row-fluid"> <!-- group form --!>
 <form ng-controller="MyFormCtrl" ng-submit="submit()">
  {% csrf_token %}

  <div class="span5 fields" style="margin-left: 50px;">
   <h4 align="center">{{ Group_Form.instance }}</h4>
   <dl>
    {% for field in Group_Form %}
    <dt>{{ field.label }}:</dt>
    <dd>{{ field }}</dd>
    {% endfor %}
   </dl>
  </div>

  <div class="span4">
   <div class="row-fluid">
    <p>
     {% if Group_Form.instance.id %}
      <input type="submit" class="btn btn-primary" value="{% trans "Update" %}">
      <input ng-click="delete_instance()" type="button" class="btn btn-danger" value="{% trans "Delete" %}">
     {% else %}
      <button class="btn btn-primary">{% trans "Add" %}</button>
     {% endif %}
    </p>
   </div>
  </div>

 </form>
</div>
