{% load i18n %}
<div class="row-fluid"> <!-- user form --!>
    <form id="user-form" class="ajax-form" action="{{ User_Form.get_submit_url }}" method="{{ User_Form.get_submit_method }}">
  {% csrf_token %}

  <div class="span5 fields" style="margin-left: 50px;">
   <h4 align="center">{{ User_Form.instance }}</h4>
   <dl>
    {% for field in User_Form %}
    <dt>{{ field.label }}:</dt>
    <dd>{{ field }}</dd>
    {% endfor %}
   </dl>
  </div>

  <div class="span4">
   <div class="row-fluid">
    <p>
     {% if User_Form.instance.id %}
      <input type="submit" name="update" class="btn btn-primary" value="{% trans "Update" %}">
      <input type="button" name="delete" class="btn btn-danger" value="{% trans "Delete" %}" data-url="{{ User_Form.get_submit_url }}" data-next-tab="#user-list-tab">
      <input type="button" name="cancel" class="btn" data-url="{{ User_Form.get_submit_url }}" style="display:none;" value="{% trans "Cancel" %}">
      <input type="button" name="back" class="btn" data-to="#user-list" data-url="{{ User_Form.instance.get_list_url }}" value="{% trans "Back" %}">
     {% else %}
      <input type="submit" name="update" class="btn btn-primary" value="{% trans "Add" %}">
     {% endif %}
    </p>
   </div>
  </div>

 </form>
</div>
