{% load i18n %}
<div class="row-fluid"> <!-- storage form --!>
    <form id="storage-form" class="ajax-form" action="{{ Storage_Form.get_submit_url }}" method="{{ Storage_Form.get_submit_method }}">
  {% csrf_token %}
  <h4 align="center">{{ storage }}</h4>

  <div class="span5 fields" style="margin-left: 50px;">
   <dl>
    {% for field in Storage_Form %}
    <dt>{{ field.label }}:</dt>
    <dd>{{ field }}</dd>
    {% endfor %}
   </dl>
  </div>

  <div class="span4">
   <div class="row-fluid">
    <p>
     {% if Storage_Form.instance.id %}
     <input type="submit" name="update" class="btn btn-primary" value="{% trans "Update" %}">
     <input type="button" name="delete" class="btn btn-danger" value="{% trans "Delete" %}" data-url="{{ Storage_Form.instance.get_rest_detail_url }}" data-next-tab="#storage-list-tab">
     <input type="button" name="cancel" class="btn" style="display:none;" value="{% trans "Cancel" %}">
     <input type="button" name="create-hosts" data-method="POST" class="btn btn-primary ajax-btn" value="{% trans "Create hosts" %}" data-url="{{ Storage_Form.instance.get_create_hosts_url }}">
     {% else %}
     <input type="submit" name="update" class="btn btn-primary" value="{% trans "Add" %}">
     {% endif %}
    </p>
   </div>
  </div>
 </form>
</div>
