{% extends "base/base.html" %}
{% load i18n %}

{% block header %}
<script src="{{ STATIC_URL }}js/conf.js"></script>
{% endblock %}

{% block body %}
<div class="tabbable tabs-left">
 <ul class="nav nav-tabs ajax-tabs">
  <li class="active"><a data-target="#user-index" menu="user" data-toggle="tab" data-url="{% url "user index" %}">{% trans "Users" %}</a></li>
  <li><a data-target="#storage-index" data-toggle="tab" menu="storage" data-url="{% url "storage index" %}">{% trans "Storage" %}</a></li>
  <li><a data-target="#plugin-index" data-toggle="tab" menu="plugin" data-url="{% url "plugin index" %}">{% trans "Plugin" %}</a></li>
  <li><a data-target="#view-index" data-toggle="tab" menu="view" data-url="{% url "view index" %}">{% trans "View" %}</a></li>
 </ul>

 <div class="tab-content">
  <div class="tab-pane fade active in" id="user-index">{% include "users/index.html" %}</div>
  <div class="tab-pane fade" id="groups-index"></div>
  <div class="tab-pane fade" id="storage-index"></div>
  <div class="tab-pane fade" id="plugin-index"></div>
  <div class="tab-pane fade" id="view-index"></div>
 </div>
{% endblock %}
