{% extends "base/base.html" %}
{% load i18n %}

{% block header %}
<script src="{{ STATIC_URL }}js/conf.js"></script>
<script src="{{ STATIC_URL }}js/angular/configuration.js"></script>
{% endblock %}

{% block body %}
<div ng-controller="configurationMainTabCtrl">

  {% verbatim %}
  <tabset maintabs>
   <tab ng-repeat="maintab in maintabs" select="showMainTab(maintab)" heading="{{maintab.title}}">

    <tabset tabs>
     {{maintab.content}}
    </tabset>

   </tab>
  </tabset>
  {% endverbatim %}

</div>
{% endblock %}
