{% extends "base/base.html" %}
{% load i18n %}

{% block header %}
<script src="{{ STATIC_URL }}js/conf.js"></script>
<script src="{{ STATIC_URL }}js/angular/configuration.js"></script>
{% endblock %}

{% block body %}
<div ng-controller="configurationMainTabCtrl">

 {% verbatim %}
  <div class="tabbable">
   <ul class="nav nav-tabs">
    <li ng-repeat="maintab in maintabs" ng-class="{'active': maintab.active == true}"><a href="" ng-click="showMainTab(maintab)">{{maintab.title}}</a></li>
   </ul> 

   <div class="tab-content">
       <div class="tab-pane" ng-repeat="maintab in maintabs" ng-class="{'active': maintab.active == true}">
           <div maintab> </div>
       </div>
   </div>
   
  </div>
  {% endverbatim %}

</div>
{% endblock %}
