{% load i18n %}
<input class="span12 q" type="text" name="q" value="{{ q }}" placeholder="{% trans "Search by host name" %}" data-into="#host-list" data-url="{{ Hosts.0.get_list_url }}?page=1&q={{ q }}">
<div class="span8">
 <table class="table table-condensed table-striped">
  <thead>
   <tr>
    <th></th>
    <th>{% trans "Name" %}</th>
    <th>Storage</th>
    <th>{% trans "Group" %}</th>
   </tr>
  </thead>
  <tbody>
   {% for host in Hosts %}
   <tr>
    <td><input class="host-checkbox" type="checkbox" name="{{ host.id }}"></td>
    <td><a class="get-host" data-url="{{ host.get_absolute_url }}" data-into="#host-list">{{ host }}</a></td>
    <td><a class="get-storage" data-url="{{ host.storage.get_absolute_url }}" data-into="#host-list">{{ host.storage }}</a></td>
    <td>
     {% if host.group %}
      <a class="get-group" data-url="{{ host.group.get_absolute_url }}" data-into="#host-list">{{ host.group }}</a>
     {% endif %}
    </td>
   </tr>
   {% endfor %}
  </tbody>
 </table>
 
 <div>
  <ul class="pager">
   {% if Hosts.has_previous %}
   <li class="previous"><a class="get-page" data-into="#host-list" data-url="{{ Hosts.0.get_list_url }}?page={{ Hosts.previous_page_number }}&q={{ q }}">&larr; {% trans "Previous" %}</a></li>
   {% endif %}
   {% if Hosts.has_next %}
   <li class="next"><a class="get-page" data-into="#host-list" data-url="{{ Hosts.0.get_list_url }}?page={{ Hosts.next_page_number }}&q={{ q }}">{% trans "Next" %} &rarr;</a></li>
   {% endif %}
  </ul>
 </div>
</div>

<div class="span3">
 <h5>{% trans "Action:" %}</h5>
 <div class="input-append">
  <select id="host-action">
      <option name="delete" data-url="{% url "host bulk delete" %}" value="delete">{% trans "Delete" %}</option>
  </select>
  <button class="btn bulk-action" type="button" data-action-element="#host-action" data-checkboxes=".host-checkbox">{% trans "Apply" %}</button>
</div>
