{% load i18n %}
<li class="active"><a href="#storage-list" data-url="{% url "storage list" %}" data-toggle="tab">{{ Storages_count }} storage(s)</a></li>
<li><a href="#host-list" data-url="{% url "host list" %}" data-toggle="tab">{{ Hosts_count }} {% trans "host(s)" %}</a></li>
<li><a href="#add-storage" data-url="{% url "storage add" %}" data-toggle="tab">{% trans "Add storage" %}</a></li>
<li><a href="#bad-host-list" data-url="{% url "storage bad host" %}" data-toggle="tab">{{ Bad_hosts_count }} {% trans "bad referenced hosts" %}</a></li>
