{% extends "base/base.html" %}
{% load i18n %}

{% block header %}
<script>var csrf = "{{ csrf_token }}";</script>
{% endblock %}

{% block body %}
{% verbatim %}
<div ng-controller="graphCtrl">
  <div menu class="span3" data-show-graphs="showGraphs(id, plugins)"></div>
  <div class="span9">
    <div class="row-fluid">
      <ul id="resolution-pills" class="nav nav-pills">
        <li ng-click="changeRes('Daily')"   ng-class="{active: resolution == 'Daily'}">
          <a href="#">Daily</a>
        </li>
        <li ng-click="changeRes('Weekly')"  ng-class="{active: resolution == 'Weekly'}">
          <a href="#">Weekly</a>
        </li>
        <li ng-click="changeRes('Monthly')" ng-class="{active: resolution == 'Monthly'}">
          <a href="#">Monthly</a>
        </li>
        <li ng-click="changeRes('Yearly')"  ng-class="{active: resolution == 'Yearly'}">
          <a href="#">Yearly</a>
        </li>
      </ul>
    </div>
    <div class="row-fluid">
      <div id="graphs" class="span11" selected>
        <div ng-repeat="graph in graphs">
       <div data-graphname="graph.graphname" data-hostid="graph.hostid" data-plugin="plugin" data-url="graph.url" data-resolution="graph.resolution" graph> </div>
        </div>
      </div>
    </div>
  </div>
<div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/graph.js"></script>
{% endblock %}
