{% extends "base/base.html" %}
{% load i18n %}

{% block header %}
<script>var csrf = "{{ csrf_token }}";</script>
{% endblock %}

{% block body %}

{% verbatim %}
<div menu class="span3"></div>

<div class="span9">
  
  <div class="row-fluid">
    <ul id="resolution-pills" class="nav nav-pills" ng-controller="resolutionCtrl">
      <li ng-click="select('daily')"   ng-class="{active: selected == 'daily'}">
        <a href="#">Daily</a>
      </li>
      <li ng-click="select('weekly')"  ng-class="{active: selected == 'weekly'}">
        <a href="#">Weekly</a>
      </li>
      <li ng-click="select('monthly')" ng-class="{active: selected == 'monthly'}">
        <a href="#">Monthly</a>
      </li>
      <li ng-click="select('yearly')"  ng-class="{active: selected == 'yearly'}">
        <a href="#">Yearly</a>
      </li>
    </ul>
  </div>
  <div class="row-fluid">
    <div id="graphs" class="span11"></div>
  </div>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/graph.js"></script>
{% endblock %}
