server {
    listen 0.0.0.0:8080;
    server_name numeter-storage-web;
    access_log /var/log/nginx/numeter_storage_access.log;
    error_log /var/log/nginx/numeter_storage_error.log info;
    root /usr/share/numeter/storage;
    location = /numeter-storage { rewrite ^ /numeter-storage/; }
    location /numeter-storage { try_files $uri @numeter-storage; }
    location @numeter-storage {
        include uwsgi_params;
        uwsgi_param SCRIPT_NAME /;
        uwsgi_pass 127.0.0.1:3031;
    }
}
