<VirtualHost *:80>
    ServerAdmin admin@domaine.com
    ServerName  numeter.lan
    #ServerAlias www.numeter.lan

    DocumentRoot @APP_DIR@/

    Alias /static @APP_DIR@/static/
    Alias /media /var/www/numeter/media/ 

    WSGIScriptAlias / @APP_DIR@/web_app/wsgi.py

    <Directory @APP_DIR@/ >
        Order deny,allow
        Allow from all
    </Directory>

</VirtualHost>
