server {
    listen 80;
    server_name numeter.lan;

    access_log /var/log/nginx/numeter_webapp_access.log;
    error_log /var/log/nginx/numeter_webapp_error.log;

    location ~ ^/static/(.*)$ {
        alias @APP_DIR@/static/$1;
    }
    location ~ ^/media/(.*)$ {
        alias /var/www/numeter/media/$1;
    }
    location / {
        uwsgi_pass unix:///run/uwsgi/app/numeter_webapp/socket;
        include uwsgi_params;
    }
}
