[uwsgi]
thread = 3
master = True
no-site = Fals
vacuum = True
plugins = python

chdir = @APP_DIR@
env = DJANGO_SETTINGS_MODULE=web_app.settings
module = numeter_webapp.web_app.wsgi:application
socket = /run/uwsgi-numeter-webapp.sock
chmod-socket = 660
